/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body > main{
    padding-top: 16px;
}

nav{
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
}

nav ul{
    list-style: none;
    padding: 0;
}
nav li{
    display: inline-flex;
    margin-right: 10px;
}

nav > button{
    margin-left: auto;
    margin-right: 10px;
    padding: 0px 10px;
}

aside{
    display: flex;
    width: 30%;
    float: left;
}

aside ul{
    flex: auto;
    list-style: none;
    padding: 0;
}

aside li{
    display: flex;
    flex: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f4f4f4;
}
main main{
    display: flex;
    width: 70%;
}



a{
    color: #000;
    text-decoration: none;

}

.row {
    display: flex;
}

.row div {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: #f1f1f1;
}

.row div:nth-child(odd) {
    background-color: #e2e2e2;
}

.tabla{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}


