body, h1, h2, h3, h4, h5, h6, p, ul, li, nav, header, main, aside, button, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#login-section {
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

#login-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

#login-section h1 {
    color: #333;
}

#login-section input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

#login-section button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#login-section button:hover {
    background-color: #0056b3;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    
    align-items: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
}

header nav ul li button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
}
header nav ul li button a{
    color: #fff !important;
}

header nav ul li button:hover {
    background-color: #777;
}

header nav button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
}

header nav button:hover {
    background-color: #777;
}

/* Main */
main {
    display: flex;
    padding: 20px;
}

/* Sidebar */
aside {
    width: 200px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: grab; /* Añadir cursor de agarre */
}

/* Footer  */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top: 5px solid #555;
    margin-top: 20px;
}

footer h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

footer ol {
    list-style: decimal inside;
    padding-left: 0;
}

footer ol li {
    margin: 10px 0;
    text-align: left;
}

#attack-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

#attack-button:hover {
    background-color: #cc0000;
}

.cell-attack {
    border: 2px solid #ff0000;
}

#random-deploy-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff9900;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

#random-deploy-button:hover {
    background-color: #cc7a00;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.modal-content button {
    margin-top: 10px;
}